<!DOCTYPE html>
<html ng-app="trans">
<head>
    <meta charset="utf-8">
    <title>trans - Transmit files</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
    
    <script>
        angular.module('trans', ['ngSanitize'])
            .controller('transCtrl', ["$scope", "$sce", ($scope, $sce) => {
                $scope.serverUrl     =
                    `${window.location.protocol}//${window.location.hostname}${(window.location.port == 80 || window.location.port == '' ? '': ':'+window.location.port)}`;                
                const defaultOption  = {
                    durationValue : 1,
                    durationUnit  : 'h',
                    times         : 100,
                    idLength      : 3,
                    deletable     : true,
                    hasDeleteKey  : false,
                    deleteKey     : "1234"
                };
                $scope.option              = Object.assign({}, defaultOption); // Deep copy

                $scope.sampleOptions = [
                    {name: "default", func: () =>{
                        $scope.option = defaultOption;
                    }},
                    {name: "Onetime", func: () => {
                        $scope.option.times = 1;
                    }},
                    {name: "Safe (Lv.1)", func: () => {
                        $scope.option.times    = 1;
                        $scope.option.idLength = 5; 
                    }},
                    {name: "Safe (Lv.2)", func: () => {
                        $scope.option.times    = 1;
                        $scope.option.idLength = 8; 
                    }}
                ];
                $scope.currentSampleOption = $scope.sampleOptions[0];
                
                
                $scope.formAction = () => {
                    const params = [];

                    params.push(`duration=${$scope.option.durationValue}${$scope.option.durationUnit}`);
                    params.push(`get-times=${$scope.option.times}`);
                    params.push(`id-length=${$scope.option.idLength}`);
                    params.push(`deletable=${$scope.option.deletable}`);

                    if($scope.option.hasDeleteKey){
                        params.push(`delete-key=${$scope.option.deleteKey}`);
                    }

                    const action = `${$scope.serverUrl}/multipart?${params.join('&')}`;
                    return $sce.trustAsResourceUrl(action); // (from: https://stackoverflow.com/a/22577208/2885946)
                };
                
            }]);
    </script>
    <style>
        input[type="submit"] {
            font-size: 2em;
            width: 5em;
            height: 2em;
            border: 3px solid #ccc;
        }
    </style>
</head>
<body>
    <div ng-controller="transCtrl">
        <h1>trans clinet for browser</h1>

        <form action="{{formAction()}}" method="post" enctype="multipart/form-data">
            <h3>Request Server URL</h3>
            <input type="text" ng-model="serverUrl">
            <br>

            <h3>File input</h3>
            <input type="file" name="input_file" multiple="multiple"><br>


            <h3>Option shortcuts</h3>
            <select ng-model='currentSampleOption' ng-options="sampleOption.name for sampleOption in sampleOptions" ng-change="currentSampleOption.func()" class="form-control" id="sampleOptions">
            </select><br>

            <h3>Options</h3>
      
            Duration:
            <input type="number" ng-model="option.durationValue">
            <select ng-model="option.durationUnit">
                <option value="s">seconds</option>
                <option value="m">minutes</option>
                <option value="h">hours</option>
                <option value="d">days</option>
            </select><br>
            Download times:
            <input type="number" ng-model="option.times"><br>
            File ID length:
            <input type="number" ng-model="option.idLength"><br>
            Deletable: <input type="checkbox" ng-model="option.deletable"><br>
            Has delete key: <input type="checkbox" ng-model="option.hasDeleteKey" ng-disabled="!option.deletable"><br>
            Delete key: <input type="text" ng-model="option.deleteKey" ng-disabled="!option.hasDeleteKey"><br>
            <br>
            <input type="submit" value="Send files">
        </form>
        <hr/>

        <h2>Command line usage</h2>
        <h3>Send with wget</h3>
        <code>
            wget -q -O - {{serverUrl}} --post-file=./test.txt
        </code>
        <ul>
            <li>"./text.txt" is a file you want send</li>
            <li>"-q": Disable progress bar</li>
            <li>"-O -": outputs /dev/stdout </li>
        </ul>

        <h3>Get with wget</h3>
        <code>
            wget {{serverUrl}}/ab2
        </code>
        <ul>
            <li>"ab2" is a file ID, which is generated after sending</li>
        </ul>

        <hr/>
    </div>
</body>
</html>